$bgcolor : #111;

*{
    padding:0;
    margin:0;
}
body{
    background-color: #aaa;
    font-size: 62.5%;
    width:75%;
    margin: 0 auto;
    .main-container{
        margin: 0 auto;
        
    }
}

/* MAIN NAV  */
.main-nav-wrapper{
    margin: 0 auto;
    
}
.main-nav{
    background-color:orange;
    display:grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-areas: "left mid right";
    .main-nav-left{
        grid-area:left;
        font-size:1.2em;
        margin: 0;
        padding: 1.3em;
        list-style-type: none;
        .main-nav-left-span{
            display: none; /*  MAIN NAV SPAN BURGER ICON HIDDEN   */
        }
        .main-nav-left-title{
            color:pink;
        }
    }
    .main-nav-mid{
        ul{
        align-content: center;
        grid-area:mid;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size:1.2em;
        li{
            margin: auto;
            padding: 1.3em;
            float:left;
            
        }
        }
    }
}

.main-landing-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "main main article";
    margin:0 auto;
    height: 500px;
    background-color:blue;
    .main-landing-picture{
        grid-area: main;
        .pictureClass {
            display:none;
        }
        .showedPicture{
            display: block;
        }
        .dotClass{
            margin: 0 auto;
            position: absolute;
            .dot{
                background-color:red;
                
            }
        }
    }
    .main-landing-article{
        grid-area: article;
        background-color:green;
        display:grid;
        grid-template-rows: auto;
    }   
}

.main-company-wrapper{
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left center right";
    .company-about{

        height:100px;
        background-color: red;
        text-align:center;
    }
}

.arrow-down{
    text-align:center;
}


.main-contact-us-wrapper{
    background-color:yellow;
    .inputs{
        display:block;
        margin:1.4em;
    }
}

.main-footer-wrapper{
    width:100%;
    margin:0 auto;
    background-color: black;
    color:white;
}
